<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтверждение кода</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Подтверждение кода</h2>
    <form action="/verify-code" method="post">
        <div class="form-group">
            <label >Введите код подтверждения:</label>
            <input type="number" class="form-control" name="code"  required>
        </div>
        <button type="submit" class="btn btn-primary">Подтвердить</button>
<!--        <div class="mt-3">-->
<!--            <span class="text-danger">${error}</span> &lt;!&ndash; Отображение ошибок &ndash;&gt;-->
<!--        </div>-->
    </form>
    <div class="mt-3">
        <a href="/login">Уже зарегистрированы? Войти</a>
    </div>
</div>

</body>
</html>
